//instructions page shown after picking trail

@import "_variables.scss";

.instructions {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
  line-height: 1em;
  @media #{$phone} {
    font-size: 1.0em;
    padding-top: 1.5em;
  }
  @media #{$phone_small} {
    font-size: 0.8em;
    padding-top: 2em;
  }


  margin-left: auto;
  margin-right: auto;
  h2 {
    padding: 0px 10px;
    margin-top: 0px;
  }
  p {
    padding: 10px;
    padding-bottom: 0px;
  }
  img {
    text-align: center;
    height: 8em;
    width: 9em;
    @media #{$phone_small} {
      height: 6em;
      width: 6.75em;
    }
    float: left;
    padding: 10px;
  }
  img.inline-icon {
    height: 1.5em;
    width: 1.5em;
    display:inline;
  }
  div.instructions-next {
    text-align: center;
    width: auto;
    clear:both;
    background-color: $overlayBlue;
    a {
      color: white;
    }
  }

  @media #{$tablet} {
    width: 80%;
  }
}