//instructions page shown after picking trail
.instructions {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
  h2 {
    padding: 0px 10px;
  }
  p {
    padding: 10px;
  }
  img {
    text-align: center;
    height: 8em;
    float: left;
    padding: 10px;
  }
  div.instructions-next {
    float: right;
  }
}