//instructions page shown after picking trail

@import "_variables.scss";

.instructions {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  h2 {
    padding: 0px 10px;
    margin-top: 0px;
  }
  p {
    padding: 10px;
  }
  img {
    text-align: center;
    height: 8em;
    width: 9em;
    float: left;
    padding: 10px;
  }
  div.instructions-next {
    text-align: center;
    width: auto;
    clear:both;
  }

  @media #{$tablet} {
    width: 80%;
  }
}