@import "_common.scss";

.pr-header-container {
  padding: $status-bar-height 0px $headerPadding 0;
  text-align: center;
  background-color: white;
  .pr-header {
    z-index: 3;
    height: $headerHeight;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    div {
      height: $headerHeight;
      &.header-arrow {
        width: $arrow-width;
        position:absolute;
        top:0;
        &.arrow-left {
          left:$headerPadding;
        }
        &.arrow-right {
          right:$headerPadding;
        }
        a {
          font-size: 1.1em;
          line-height: $headerHeight * 1.15;
          text-decoration: none;
          color:black;
          &.back-link {
            text-align: left;
            i {
              padding-right: 0.2em;
            }
          }
          &.next-link {
            text-align: right;
            i {
              padding-left: 0.2em;
            }
          }

        }
      }
      &.header-logo {
        padding: 0px 2%;
        img {
          height:$headerHeight - $headerPadding/2;
        }
      }
    }
  }
}

h1.finished-title {
  margin: 20px 30px;
}

h3.finished-message {
  margin: 20px 30px;
}

p.finished-call-to-action {
  margin: 20px 20px;
}

table.social-links-table {
  padding-top: 30px;
  width: 100%;
  text-align: center;
  tr {
    td {
      a {
        img {
          height: 77px;
          width: 77px;
        }
      }
    }
  }
}

.feedback-button {
  width: 100%;
  padding: 17px 50px ;
  text-align: left;
  background-color: black;
//  border-radius: 10px;
  a {
    color: white;
    text-decoration: none;
  }
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

div.black-bar {
  width: auto;
  background: black;
  padding: 5px 12px;
  color: white;
  font-size: 1em;
  line-height: 2.2em;
  margin-bottom: 10px;
  @media #{$phone_small} {
    margin-bottom: 3px;
  }
  &.audio {
    height: $audio-height;
    line-height: $audio-height * 0.5;
    margin-top: 5px;
    text-align: left;
    .audio-info {
      margin-left: 15%;
      display: inline-block;
      text-align: center;
      #media-caption {
  //      text-align: left;
//        padding-right: 1em;
        font-size: 1.1em;
        font-weight: bold;
      }

    }
    img.audio-control-icon {
      height: $audio-height;
      width: $audio-height;
      float: right;
      padding: 0;
      padding-right: 5px;
      &.pause {
        display: none;
      }
      &.restart {
        display: none;
      }
      &.speaker {
        float: left;
      }
    }
  }
  &.map-link {
    height: 40px;
  }
  &.compact {
    height: $compact-item-height + 10px;
    line-height: $compact-item-height + 10px;
  }
}

.map-container {
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 400%;
  text-align: center;
  .map-bg {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 400%;
    opacity: 0.8;
    z-index: -1;
  }
  .image-holder {
    text-align: center;
    position: fixed;
    margin-top: 5.5em;
    img.map-image {
      max-width: 100%;
    }
  }
  .close {
    top: 0px;
    margin-right: 10px;
    color: white;
    float: right;
    font-size: 3em;
  }
}

.prompt {
  position: fixed;
  background-color: transparent;
  color: white;
  text-align: center;
  width: 100%;
  z-index: 2;

  .user-prompt {
    @include animation(1.4s cyclebg ease-in-out infinite);
    padding: 10px 0px;
    background-color: black;
    &.title {
      font-size: 1.1em;
    }
    &.subtitle {
      font-size: 0.8em;
      border-bottom: solid 1px grey;
    }
  }
}

.white-edge {
  width: 100%;
  height: 100px;
//  background-color: white;
  background: linear-gradient(transparent, white);
  opacity: 0.8;

}
.button-holder {
  background-color: black;
  width: 100%;

  .prompt-button {
    width: 48%;
    display: inline-block;
    background-color: black;
    font-weight: bold;
    padding: 10px 0px;
    &.no {
      border-right: solid 1px grey;
    }

  }
}