$headerHeight: 60px;
$headerPadding: 10px;
$arrow-width: 60px;

@mixin flip() {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


.pr-header-container {
  padding: $headerPadding 0px;
  text-align: center;
  background-color: white;
  .pr-header {
    z-index: 3;
    height: $headerHeight;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    div {
      height: $headerHeight;
      display: inline-block;
      a {
        img {
          height: 100%;
          padding: 0px;
          &.flip {
            @include flip();
          }
        }
      }
      &.header-arrow {
        width: $arrow-width;
      }
      &.header-logo {
        padding: 0px 2%;
      }
    }
  }
}

h1.finished-title {
  margin: 20px 30px;
}

h3.finished-message {
  margin: 20px 30px;
}

p.finished-call-to-action {
  margin: 40px 30px;
}

table.social-links-table {
  padding-top: 40px;
  width: 100%;
  text-align: center;
  tr {
    td {
      a {
        img {
          height: 50%;
        }
      }
    }
  }
}