@import "_variables.scss";

@mixin rounded-corners {
  border-radius: $corner-radius;
}
html {
  height:100%;
}
body {
  font-family: $standardFontFamily;
  color: $blue;
  margin:0;
  height:100%;
  font-size: 19px;
  line-height: 1em;
  @media #{$tablet} {
    font-size: 24px;
  }
  @media #{$phone_small} {
    font-size: 17px;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  letter-spacing: 0.1em;
}

//shared style for all buttons
div.button {
  &.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  padding: 2*$standardPadding;
  border-style: solid;
  border-color: $transparentGrey;
  border-width: 1px;
  background-color: $overlayWhite;
  a {
    color: $fontColor;
    text-decoration: none;
  }
  margin: 10px;
  display: block;
}

// Used on the trail_intro page
.video-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  min-height: 1000px;

  .buttons-container {
    display: none;
    z-index: 50000;
    position: relative;
    top: 80px;
    min-height: 100px;
    background-color: transparent;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    @media #{$tablet} {
      top: 300px;
    }

    .button {
      padding: 30px;
    }
    &.show {
      // show class is added after the video finishes
      display: block;
    }
  }

  // applies to the intro video
  video {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
  }
  //shrink down gracefully rather than popping
  @include transition-property(max-height);
  @include transition-duration(0.25s);
}

.controls-container {
    z-index: 40000;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100px;
    background-color: transparent;

    .button {
      padding: 1em 1em 0.8em;
      &.resume {
        //resume button hidden until pause pressed
        display: none;
      }
      &.stop {
        //stop button is hidden until second play
        @if $debug {
          display: block;
        }
        @else {
          display: none;
        }
      }
    }
  }

//Hide the scroll bar on the nav menu for android - it appears on top of everything else
.nav-menu::-webkit-scrollbar {display:none;}

.nav-menu {
  position: fixed;
  padding: $standardPadding $standardPadding 0;
  top: 0;
  left: 0;
  background-color: #444;
  color: white;
  z-index: 0;
  width: $navBarWidth;
  height: 1000px;
  font-size: smaller;
  overflow-y: scroll;
  .titles {
    text-align: center;
    margin-bottom: 1em;
    //'sensing evolution' title
    h3 {
      text-transform: uppercase;
      border-bottom: 1px solid white;
      display: inline-block;
    }
    //trail name
    h4 {
      line-height: 1em;
      margin: 0.2em 0 0;     
    }
  }
  //list of items
  ul {
    list-style: none;
    padding-left: 0.4em;
    margin: 0.2em 0.4em 0.4em;
    font-size: 1.0em;
    //the li for the item the user is currently on
    li {
        color: #777;
      &.available {
        color: #ddd;
      }
      &.current {
        color: white;
  //      border-style: solid;
  //      border-width: 0;
  //      border-left-width: 4px;
  //      border-color: lightgrey;
  //      padding: 2px 4px 2px 4px;
      }
    }
  }
}

.nav-menu-topic-title {
  color: #777;
  &.complete {
    color:#ddd;
  }
  &.current {
    color: white;
  }
}

.nav-menu-button {
  position: absolute;
  padding: 0;
  float: left;
  top: $standardPadding;
  left: $standardPadding;
  width: 46px;
  height: 46px;
}

a.nav-link {
  color: #777;
  text-decoration: none;
  @if $debug {
    pointer-events: auto;
  }
  @else {
    pointer-events: none;
  }
  &.found {
    pointer-events: auto;
    color: #ddd;
  }
  &.current {
    color:white;
  }
  &.start-over {
    pointer-events: auto;
  }
  &.start-over {
    display: block;
    margin-top: 1.6em;
  }
}

.content {
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;

  //if the nav menu is shown
  &.slideout{
    left: $navBarWidth;
  }
  min-height: 100%;

  @include transition-property(left);
  @include transition-duration(0.25s);
}


//Header across the top of the content page
.header {
  width: 100%;
  margin: 0;
  padding: 0;    
  .titles {
    text-align: center;
    padding: .4em 2em;
    @media #{$phone_small} {
      padding: .2em 2em;
    }
    h1 {
      font-size: 1.2em;
      text-transform: uppercase;
      line-height: 1.4em;
      margin: 0 0 .4em;
      text-align: left;
      display: inline-block;
      border-bottom-style: solid;
      border-bottom-color: $blue;
      border-bottom-width: 1px;
    }
    h2 {
      font-size: 1.2em;
      line-height: 1em;
      margin: 0;
    }     
  }
}

//Proximity indiciator on item page
.proximity-indicator {
  background-color: #999999;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 13px 12px;
  position: fixed;
  right: 0;
  top: 0;

  //one additional class added dependent on input range
  &.far {
    background-color: lightcoral;
  }
  &.near {
    background-color: orange;
  }
  &.immediate {
    background-color: lightgreen;
  }
}

//progress indicator (e.g. Item 4 of 8)
.progress-indicator {
  position: fixed;
  right: 0;
  top: 0;
  margin: 13px 12px;
}

// Unused?
.topic {
  padding: $standardPadding;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media #{$phone} and #{$landscape} {
    float: right;
    width: 50%;
  }
  h2 {
    margin: 5px 20px;
    font-size: 1.2em;
  }
}

h3 {
  text-align: center;
  margin: 5px 0px;
  padding-bottom: 5px;

}

.item {
  // the main item image
  img.item-image {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
  }

  //everything the user sees before finding the item
  .before-found {
    width: 100%;
    //Contains the image and instructions for the item the user is supposed to be searching for
    .find-prompt {
      padding: 0.3em 0.2em 0.1em;
      float: left;
      text-align: left;
      background-color: $overlayWhite;
    }

    //container for the hint on the item page
    .hint-container {
      position: absolute;
      text-align: center;
      left: 60%;
      width:40%;
      @media #{$phone_small} {
        left: 55%;
        width: 45%;
      }
      height: 100%;
      background-color: $overlayWhite;
      img.item-map {
        width: 70%;
        @media #{$phone_small} {
          width: 60%;
        }
        height: auto;
        margin: 0 auto;
      }

      //button offering hint to user
      .button-hint {
        margin: 30px 23% 10px 27%;
        @media #{$phone} {
          margin-top: 20px;
        }
        width: 50%;
        background-color: rgba(255, 255, 255, 0.5);;
        padding: 2*$standardPadding 0 1.5*$standardPadding;
 
        a {
          color: $fontColor;
          text-decoration: none;
        }
      }

      //hint text itself
      .hint {
        display: none;
        @media #{$phone_small} {
          margin-top: 0px;
          margin-left: 3%;
          margin-right: 3%;
        }
        &.revealed {
          //Add the 'revealed' class once revealed, and the hint will be shown
          display: block;
        }
      }
      @media #{$tablet} {
        margin-right: 10%
      }
    }
  }
  .found-video {
    width:100%;
    height:100%;
    position: fixed;
    z-index: 5;
    @media #{$phone} {
      top: 0px;
    }
    background-color: $overlayWhite;
    display:none;
  }

  //container for what is shown after the user finds the item
  // - video
  // - congratulations text
  // - replay button
  .found-item {
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    display:none;
    .button {
      background-color: $overlayBlue;
      a {
        color: white;
      }
    }
    .video-container {
      float: left;
      width: 25%;
      padding: 1em 5% 0;
      @media #{$phone_small} {
        width: 18%;
        padding: 1em 2% 0;
      }
      text-align: center;
      img.video_thumbnail {
        width: 100%;
        height: auto;
      }
      @include transition-property(max-width);
      @include transition-duration(0.25s);
      //'well done' text
      h3 {
        color: $green;
      }
    }
      //container for questions
    .question {
      position: relative;
      padding: 1em 0 0;
      margin-left: 35%;
      height: 100%;
      width: 65%;
      @media #{$phone_small} {
        margin-left: 25%;
        width: 74%;
      }
      //some questions/answers are quite long. Allow overflow scrolling for this div.
      // Somewhat hard to notice unfortunately.
      overflow-y: scroll; 
      .question-text {
        font-size: 1.2em;
        @media #{$phone_small} {
          font-size: 1.0em;
        }
        line-height: 1em;
        margin-bottom: 0.4em;
      }     
      .questions {
        text-align: left;
        display: block;
        list-style: none;
        list-style-position: inside;
        .answer-container {
          display: block;
          padding: 0px 1em 0 0;
          div.answer {
            display: block;
            .button {
              margin: 0 0.4em 0.4em 0;
              padding: 0.4em 0.4em 0.2em;
              //class added to answer button once picked, for red/green highlighting.
              &.chosen {
                background-color: $red;
                border-style: none;
                &.correct {
                  background-color: $green;
                }
              }
            }
          }
          //explanatory text after selecting an answer
          div.response {
            display: none;
            font-size: 1.0em;
          }
        }
        height: 100%;
      }

      //buttons shown after answering
      .try-again {
        display: none;
        width: 35%;
        float: right;
      }
      .proceed {
        display: none;
        width: 35%;
        float: right;
      }      
    }
  }

  //fullscreen video while it's playing
  video.found {
    &.playing {
      display: inline;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      background-color: #000000;
      z-index:1000;
    }
  }

  //class for dev-controls
  .dev-control {
    @if $debug {
      display: block;
    }
    @else {
      display: none;
      font-size: x-small;
    }
  }

  // play / play again buttons on item page
  .play-button {
    position: relative;
    top: 125px;
    z-index: 5;
    &.hidden {
      display: none;
    }
    &.play {
      width: 50%;
      margin: 0px;
      padding: 1.4em;
      line-height: 1.6em;
      p {
        margin: 0;
      }
      a {
        font-size: 1.4em;  
      }
    }
    &.replay {
      padding: 0.4em 0 0.3em;
      top: 0px;
      width: 100%;
    }
  }
}



//Shown after intro video finishes
.start-trail {
  display:none;
}

//container for the item unlock view on the item page
.item-unlock {
  text-align: right;
  margin: 10px 0px 10px 10px;
  @media #{$phone_small} {
    margin-bottom: 5px;
  }
  height: 40px;
  @media #{$tablet} {
    height: 60px;
  }
  //For some reason, the button doesn't respond on iPhone without this...
  position: relative;
  left: -10px;  
  //classes added after attempted input code
  &.correct {
    border-color: $green;
    color: $green;
  }
  &.incorrect {
    border-color: $red;
    color: $red;
  }
  //key icon
  img {
    max-height: 100%;
    max-width: auto;
    padding-left: 10px;
  }
  //input field for typing in number
  input{
    height: 24px;
    margin: 6px 0 4px;
    @media #{$tablet} {
      margin: 16px 0 14px;
    }
    padding: 3px 0px 3px 10px;
    text-align: left;
    border: none;
    vertical-align: top;
    border-right: solid 1px grey;
    position: relative;
    top: -2px;
    display: none;
    font-size: 0.8em;
    color: inherit;
  }

}

//Class added to elements to centre them vertically.
// It's also necessary
.center-vertically {
  position: absolute;
}


.finished-page {
  text-align: center;
  .header {
    margin-bottom: 0.5em;
    h2.subtitle {
      font-size: 1em;
    }
  }
    @media #{$phone_small} {
      padding-top: 0px;
    }
    @media #{$tablet} {
      padding-top: 10px;
    }

    .finished-grid {
      img {
        width: 25%;
        height: auto;
        margin: -1%;
      }
    }
  p {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
}