@import "compass/css3";
$phone: "only screen and (max-width: 767px)";
$tablet: "only screen and (min-width: 768px)";
$landscape: "(orientation:landscape)";
$portrait: "(orientation:portrait)";
$standardFontFamily: "Helvetica Neue", "Droid Sans", sans-serif;
$standardPadding: 5px;
$corner-radius: 5px;
$navBarWidth: 320px;
$fontColor: black;
$videoAspectRatio: 1.7777777778;

@mixin rounded-corners {
  border-radius: $corner-radius;
}

body {
  font-family: $standardFontFamily;
  margin:0;
  @media #{$tablet} {
    font-size: 24px;
  }
}

h1 {
  margin: 0px;
  text-align: center;
}


// Used on the trail_intro page
.video-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    min-height: 1000px;

    .buttons-container {
      display: none;
      z-index: 50000;
      position: relative;
      top: 50px;
      min-height: 100px;
      background-color: transparent;
      width: 50%;
      .button {
        padding: 30px;
      }
      &.show {
        // show class is added after the video finishes
        display: block;
      }
    }

// applies to the intro video

video {
    width: 100%;
    z-index: 1000;
    &.finished {
//      Shrink down the video once it's finished in order to reveal the start button
      @media #{$phone} and #{$landscape} {
        height: 200px;
        width: 200px * $videoAspectRatio;
      }
    }
  }

  //shrink down gracefully rather than popping
  @include transition-property(max-height);
  @include transition-duration(0.25s);
}

//Hide the scroll bar on the nav menu for android - it appears on top of everything else
.nav-menu::-webkit-scrollbar {display:none;}

.nav-menu {
  //'sensing evolution' title
  h3 {
    font-weight: normal;
  }
  position: fixed;
  top: 0;
  left: 0;
  background-color: #444;
  color: white;
  z-index: -1;
  width: $navBarWidth;
  height: 1000px;
  font-size: smaller;
  overflow-y: scroll;

  //trail name
  h4 {
    margin: 5px 0px;
    font-weight: normal;
  }

  //list of items
  ul {
    list-style: none;
    padding-left: 10px;
    margin: 2px;

    //the li for the item the user is currently on
    li.current {
      margin: 10px;
      border-style: solid;
      border-width: 1px;
      border-left-width: 16px;
      border-color: lightgrey;
      padding: 2px 4px 2px 10px;
    }
  }
}

.nav-menu-button {
  position: absolute;
  padding: 0;
  float: left;
}

a.nav-link {
  font-size: 1.0em;
  color: #777;
  text-decoration: none;
  &.current {

  }
  &.found {
    color: white;
  }
}

.content {
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;

  //if the nav menu is shown
  &.slideout{
    left: $navBarWidth;
  }
  min-height: 1000px;

  @include transition-property(left);
  @include transition-duration(0.25s);
}


//Header across the top of the content page
.header {
    background-color: #f4f4f4;
    width: 100%;
    margin: 0;
    padding: 0;
    h1 {
      font-size: medium;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 10px;
      margin: 0;
      border-bottom-style: solid;
      border-bottom-color: #dddddd;
      border-bottom-width: 1px;
        @media #{$phone} and #{$landscape} {
          text-align: left;
          margin: 0px 30px 0px 70px;
        }
    }
}

// Unused?
.topic {
  padding: $standardPadding;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media #{$phone} and #{$landscape} {
    float: right;
    width: 50%;
  }
  h2 {
    margin: 5px 20px;
    font-size: 1.2em;
  }
}

h3 {
  text-align: center;
  margin: 5px 0px;
  padding-bottom: 5px;

}

//everything the user sees before finding the item
.before-found {
  width: 100%;
  //Contains the image and instructions for the item the user is supposed to be searching for
  .search-item {
    padding: $standardPadding;
    float: left;
    text-align: center;
    width: 45%;

    //Thumbnail/map image
    img {
      @media #{$phone} and #{$landscape} {
        width: 80%;
        margin: 0 4%;
      }
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
      width: 80%;
      max-height: 40%;
    }

  }

  //container for the hint on the item page
  .hint-container {
    text-align: center;
    margin-left: 50%;

    //button offering hint to user
    .button {
      margin: 20px 10px 10px 10px;
    }

    //hint text itself
    .hint {
      display: none;
      &.revealed {
        //Add the 'revealed' class once revealed, and the hint will be shown
        display: block;
      }
    }
    
    margin-top: 3%;

    @media #{$tablet} {
      margin-right: 10%
    }
  }
}
//title on the item page
div.item-title {
  h3.name {
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
    clear: right;
    margin-top: 10%;
    @media #{$phone} and #{$landscape} {
      margin-top: 15%;
      padding-bottom: 2px;
    }
  }
}

//Proximity indiciator on item page
.proximity-indicator {
  background-color: #999999;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 13px 12px;
  position: fixed;
  left: 75%;
  top: 0px;

  //one additional class added dependent on input range
  &.far {
    background-color: lightcoral;
  }
  &.near {
    background-color: orange;
  }
  &.immediate {
    background-color: lightgreen;
  }
}

//container for what is shown after the user finds the item
// - video
// - congratulations text
// - replay button
.found-item {
  width:20%;
  position: relative;
  top: -45px;
  margin: 0px 5%;
  display: none;
  padding: 0px;
  text-align: center;
//  @media #{$phone} {
//    padding: 0px 10px;
//    &.finished {
//      max-width: 70%;
//      top: 120px;
//    }
//  }
//  @media #{$phone}{
//    max-width: 50%;
//  }
//  @media #{$tablet} {
//    width: 100%;
//    clear: both;
//  }
//
//  //shrink video down after it's finished playing
//  &.finished {
//    clear: none;
//    float: left;
//    left: 10px;
//    position: absolute;
//    max-width: 25%;
//    @media #{$portrait} {
//      max-width: 100%;
//      top: 120px;
//    }
//  }

  img.video_thumbnail {
    width: 100%;
    height: auto;
  }

  @include transition-property(max-width);
  @include transition-duration(0.25s);



  //'well done' text
  h3 {
    color: darkgreen;
  }
}

  //fullscreen video while it's playing
  video.found{
    display: none;
    &.playing {
      display: inline;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      background-color: #000000;
    }
  }

//class for dev-controls
// Make this display: none for final build
.dev-control {
  display: none;
  font-size: x-small;
}

// play / play again buttons on item page
.play-button {
  position: relative;
  top: 125px;
  z-index: 5;
  &.hidden {
    display: none;
  }
  &.play {
    width: 50%;
    line-height: 3em;
    margin: 0px;
    padding: 5px;
    font-size: 1.8em;
    display: none;
  }
  &.replay {
    top: 0px;
    width: 100%;
    padding-bottom: 5px;
  }
}

//container for questions
.question {
  margin-left: 35%;
  max-height: 260px;
  @media #{$tablet} {
    max-height: 50%;
  }

  //some questions/answers are quite long. Allow overflow scrolling for this div.
  // Somewhat hard to notice unfortunately.
  overflow-y: scroll;
  div {
    display: inline;
    padding: 0px;
    text-align: center;
    font-weight: bold;

    .questions {
      display: block;
      text-align: left;
      list-style: none;
      padding: 2px;
      list-style-position: inside;
      .answer-container {
        display: block;
        div.answer {
          display: block;
          .button {
            margin: 5px 0px;
            padding: 4px 10px;
            text-align: center;

            //class added to answer button once picked, for red/green highlighting.
            &.chosen {
              background-color: red;
              border-style: none;
              &.correct {
                background-color: green;
              }
            }

          }
        }
        //explanatory text after selecting an answer
        div.response {
          display: none;
          font-size: 1.0em;
          font-weight: normal;
        }
        padding: 0px 10px;
      }
      height: 100%;
    }

    //buttons shown after answering
    .try-again {
      display: none;
      width: 35%;
      float: right;
    }
    .proceed {
      display: none;
      width: 35%;
      float: right;
    }
  }
}

//Shown after intro video finishes
.start-trail {
  display:none;
}

//shared style for all buttons
div.button {
  &.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
//    display: block;
  }
    padding: 2*$standardPadding;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: lightgrey;
  a {
    color: $fontColor;
    text-decoration: none;
  }
  margin: 10px;
  display: block;
}


//container for the item unlock view on the item page
.item-unlock {
  margin-top: 30px;
  text-align: center;
  margin: 20px 0px 20px 10px;
  clear: both;
  height: 30px;
  float: right;
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  z-index: 100;

  //For some reason, the button doesn't respond on iPhone without this...
  position: relative;
  left: -10px;

  //classes added after attempted input code
  &.correct {
    border-color: darkgreen;
    color: darkgreen;
  }
  &.incorrect {
    border-color: darkred;
    color: darkred;
  }
  .button {
  }

  //key icon
  img {
    max-height: 100%;
    max-width: 100%;
    padding-left: 10px;
  }

  //input field for typing in number
  input{
    height: 24px;
    padding: 3px 0px 3px 10px;
    vertical-align: bottom;
    border: none;
    border-right: solid 1px grey;
    position: relative;
    top: -2px;
    display: none;
    font-size: 0.8em;
    color: inherit;
  }

}

//Class added to elements to centre them vertically.
// It's also necessary
.center-vertically {
  position: absolute;
}
