@import "compass/css3";
$phone: "only screen and (max-width: 767px)";
$tablet: "only screen and (min-width: 768px)";
$landscape-test: "only screen and (orientation: landscape)";
$portrait-test: "only screen and (orientation: portrait)";
$landscape: "(orientation:landscape)";
$portrait: "(orientation:portrait)";
$standardFontFamily: "Helvetica Neue", "Droid Sans", sans-serif;
$standardPadding: 5px;
$corner-radius: 5px;
$navBarWidth: 250px;
$fontColor: black;
$videoAspectRatio: 1.7777777778;

@mixin rounded-corners {
  border-radius: $corner-radius;
}

body {
  font-family: $standardFontFamily;
  margin:0;
}

h1 {
  margin: 0px;
  text-align: center;
}



.video-holder {
  @media #{$phone} and #{$landscape} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;

    .buttons-container {
      display: none;
      z-index: 5;
      position: relative;
      top: 50px;
      min-height: 100px;
      background-color: black;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      .button {
        padding: 30px;
      }
      &.show {
        display: block;
      }
    }
}

video {
    width: 100%;
    &.finished {
//      Shrink down the video once it's finished in order to reveal the start button
      @media #{$phone} and #{$landscape} {
        height: 200px;
        width: 200px * $videoAspectRatio;
      }
    }
  }

  @include transition-property(max-height);
  @include transition-duration(0.25s);
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  color: white;
  z-index: -1;
  width: $navBarWidth;
  height: 1000px;
  font-size: smaller;
  overflow-y: scroll;

  h4 {
    margin: 5px 0px;
  }
  ul {
    list-style: none;
  }
}

.nav-menu-button {
  position: absolute;
  padding: 0;
  float: left;
}

a.nav-link {
  font-weight: bold;
  font-size: smaller;
  color: lightgray;
  &.current {
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    border-radius: 3px;
  }
  &.found {
    background-color: darkgreen;
    border-radius: 3px;
  }
}

.content {
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  z-index: 2;
  width: 100%;
  height: 100%;
//  overflow: scroll;
  position: fixed;

  &.slideout{
    left: $navBarWidth;
  }
  min-height: 1000px;

  @include transition-property(left);
  @include transition-duration(0.25s);
}

.header {
    background-color: #f4f4f4;
    width: 100%;
    margin: 0;
    padding: 0;
    h1 {
      font-size: medium;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 10px;
      margin: 0;
      border-bottom-style: solid;
      border-bottom-color: #dddddd;
      border-bottom-width: 1px;
        @media #{$phone} and #{$landscape} {
          text-align: left;
          margin: 0px 30px 0px 70px;
        }
    }
}

.topic {
  padding: $standardPadding;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media #{$phone} and #{$landscape} {
    float: right;
    width: 50%;
  }
  h2 {
    margin: 5px 20px;
    font-size: 1.2em;
  }
}

h3 {
  text-align: center;
  margin: 5px 0px;
  padding-bottom: 5px;

}

//Contains the image and instructions for the item the user is supposed to be searching for
.search-item {
  padding: $standardPadding;
  float: left;
  text-align: center;
  width: 100%;
  img {
    @media #{$phone} and #{$landscape} {
      width: 80%;
      margin: 0 4%;
    }
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 80%;
    max-height: 40%;
  }
  .dev-control {
    float: right;
  }
  @media #{$landscape} {
    width: 45%;
  }
}

.hint-container {
  text-align: center;
  margin-left: 50%;
  .button {
    margin: 20px 10px 10px 10px;
  }
  .hint {
    display: none;
    &.revealed {
      //Add the 'revealed' class once revealed, and the hint will be shown
      display: block;
    }
  }
}

div.item-title {
  h3.name {
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
    @media #{$phone} and #{$landscape} {
      padding-bottom: 2px;
    }
  }
}

.proximity-indicator {
  background-color: #999999;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 13px 12px;
  position: fixed;
  left: 75%;
  top: 0px;
  &.far {
    background-color: lightcoral;
  }
  &.near {
    background-color: orange;
  }
  &.immediate {
    background-color: lightgreen;
  }
}


.found-item {
  position: relative;
  top: -45px;
  margin: auto;
  display: none;
  padding: 0px;
  text-align: center;
  @media #{$phone} {
    padding: 0px 10px;
    &.finished {
      max-width: 70%;
      top: 120px;
    }
  }
  @media #{$phone}{
    max-width: 50%;
  }
  @media #{$tablet} {
    width: 100%;
    clear: both;
  }

  &.finished {
    clear: none;
    float: left;
    left: 10px;
    position: absolute;
    max-width: 25%;
    @media #{$portrait} {
      max-width: 100%;
      top: 120px;
    }
  }
  video.playing {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }

  @include transition-property(max-width);
  @include transition-duration(0.25s);

  .play-button {
    position: relative;
    top: 125px;
    z-index: 5;
    &.hidden {
      display: none;
    }
    &.replay {
      top: 0px;
      width: 100%;
      padding-bottom: 5px;
    }
  }

  video.intro {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    @media #{$phone} and #{$portrait} {
      width: 90%;
      height: 90% * $videoAspectRatio;
    }
    @media #{$tablet} and #{$landscape} {
      width: 90%;
      height: 90% * $videoAspectRatio;
    }
  }
  h3 {
    color: darkgreen;
  }
}


.dev-control {
  display: block;
  font-size: x-small;
}

.question {
  margin-left: 35%;
  max-height: 220px;
  overflow-y: scroll;
  div {
    display: inline;
    padding: 0px;
    text-align: center;
    font-weight: bold;

    .questions {
      display: block;
      text-align: left;
      list-style: none;
      padding: 2px;
      list-style-position: inside;
      .answer-container {
        display: block;
        div.answer {
          display: block;
          .button {
            margin: 5px 0px;
            padding: 4px 10px;
            text-align: center;

            &.chosen {
              background-color: red;
              border-style: none;
              &.correct {
                background-color: green;
              }
            }

          }
        }
        div.response {
          display: none;
          font-size: 1.0em;
          font-weight: normal;
        }
        padding: 0px 10px;
      }
      height: 100%;
      overflow: scroll;
    }
    .try-again {
      display: none;
      width: 35%;
      float: right;
    }
    .proceed {
      display: none;
      width: 35%;
      float: right;
    }
  }
}

.choose-trail {
  float: left;
  padding-right: $standardPadding;
}
.start-trail {
  display:none;
}

div.button {
  &.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
    padding: 2*$standardPadding;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    background-color: lightgrey;
  a {
    color: $fontColor;
    text-decoration: none;
  }
  margin: 10px;
  display: block;
}

.media-test {
  display: none;
  background-color: blue;
  padding: 10px;
  width: 20%;
  margin: 10px;
  &.phone {
    @media #{$phone} {
      display: inline;
    }
  }
  &.tablet {
    @media #{$tablet} {
      display: inline;
    }
  }
  &.landscape {
    @media #{$landscape-test} {
      display: inline;
    }
  }
  &.portrait {
    @media #{$portrait-test} {
      display: inline;
    }
  }
}

.item-unlock {
  margin-top: 30px;
  text-align: center;
  .item-unlock-code {
    font-size: 1.4em;
    height: 30px;
    line-height: 1.6em;
    margin: 10px auto 20px auto;
    width: 70%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    &.incorrect {
      color: darkred;
      border-color: darkred;
    }
    &.correct {
      color: darkgreen;
      border-color: darkgreen;
    }
  }
  .button {
    width: 20px;
    display: inline;
    margin: 0px;
  }
}