//trails selection page
@import "_variables.scss";

div.trails-list-container {
  text-align: center;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    a {
      text-decoration: none;
      color: black;
      li {
        margin-bottom: 10px;
        @media #{$phone_small} {
          margin-bottom: 5px;
        }
        width: 100%;
        height: 140px;
        @media #{$phone_small} {
          height: 120px;
        }
        @media #{$tablet} {
          height: 240px;
        }
        .trails-list-item {
          text-align: center;
          width: 40%;
          height: 100%;
          background-color: $overlayWhite;
          color: $blue;
          padding-top: 40px;
          @media #{$phone_small} {
            padding-top: 30px;
          }
          @media #{$tablet} {
            padding-top: 90px;
          }
          .title {
            font-size: 1em;
            text-transform: uppercase;
            margin-bottom: 0.4em;
          }
          .subtitle {
            font-size: 1em;
            padding: 0 20px;
          }
        }
        &.Discover {
          background: url(../img/trailButtonDiscover.jpg);
          background-size: cover;
          .trails-list-item {
            margin-left: 60%;
          }
        }
        &.Investigate {
          background: url(../img/trailButtonExplore.jpg);
          background-size: cover;
        }
      }
    }
  }
}