$item-height: 40px;
$audio-height: 30px;
div.trails-list-container {
  text-align: center;


  ul {
    padding: 0px;
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      li {
        background-color: black;
        margin: 5px 0px;
        width: 100%;
        height: $item-height;
        padding: 15px 0;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.audio {
          margin-top: 20px;
          padding: 5px 0;
          height: $audio-height;
        }

        audio {
          float: right;
          padding-right: 20px;

        }

        div {
          margin-left: 5%;
          &.trails-list-item {
            margin-right: 30%;
          }
          &.main-title {
            margin-right: 30%;
            font-size: 1.2em;
            padding-bottom: 5px;
            overflow-x: hidden;
            text-overflow: ellipsis;
            &.title-smaller {
              font-size: 1.0em;
            }
          }
          &.subtitle {
            font-size: 0.8em;
            margin-right: 30%;
          }
          &.audio {
            width: 90%;
            padding-top: 4px;
            img.audio-control-icon {
              height: $audio-height;
              width: $audio-height;
              float: right;
              position: relative;
              top: -4px;
              padding: 0px 5px;
              &.pause {
                display: none;
              }
              &.restart {
                display: none;
              }
              &.speaker {
                padding-right: 20px;
                float: left;
              }
            }
          }
        }
        &.near {
          border-left: 20px solid #888888;
          background-color: #444444;
        }
        &.far {
          border-left: 20px solid #444444;
          background-color: #222222;
        }

        img.item-thumbnail {
          height: $item-height + 16px;
          margin: 0px 5px;
          float: right;
          position: relative;
          top: -8px;
        }
      }
    }
  }
  position: relative;
}

p.description {
  margin: 10px 5px;
  text-align: left;
  font-size: 0.9em;
}