div.trails-list-container {
  text-align: center;


  ul {
    padding: 0px;
    list-style: none;
    a {
      text-decoration: none;
      color: white;
      li {
        background-color: black;
        margin: 5px auto;
        width: 90%;
//        height: 80px;
        padding: 15px 5%;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;

        .trails-list-item {
        }
        .main-title {
          font-size: 1.2em;
          padding-bottom: 5px;
          overflow-x: hidden;
          text-overflow: ellipsis;
          &.title-smaller
          {
            font-size: 1.0em;
          }
        }
        .subtitle {
          font-size: 0.8em;
        }
      }
    }
  }
  position: relative;
}

p.description {
  margin: 10px 5px;
  text-align: left;
  font-size: 0.9em;
}