<?xml version='1.0' encoding='utf-8'?>
<widget id="uk.ac.ox.museums.sensingevolution" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Sensing Evolution</name>
    <description>
        A test app for ibeacon functionality
    </description>
    <author email="dev@cordova.apache.org" href="http://www.it.ox.ac.uk">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <gap:plugin name="com.unarin.cordova.beacon" version="3.2.1" />
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10" />
    <gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />

    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />

    <feature name="http://api.phonegap.com/1.0/geolocation" />

    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
        <false/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UISupportedInterfaceOrientations~ipad" overwrite="false">
        <array>
            <string>UIInterfaceOrientationLandscapeLeft</string>
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
    <false/>
    </gap:config-file>

    <!-- Assets based on download from http://ticons.fokkezb.nl/ -->
    <icon src="img/key.png"/>
    <splash src="res/sensing_evolution_splash_screen.png" />
    <platform name="android">
        <!-- you can use any density that exists in the Android project -->
        <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
        <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
        <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
        <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>

        <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>

        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/hdpi.png" density="hdpi" />
        <icon src="res/android/xhdpi.png" density="xhdpi" />
    </platform>

    <platform name="ios">
        <!-- images are determined by width and height. The following are supported -->
        <splash src="res/app/assets/iphone/Default.png" width="320" height="480"/>
        <splash src="res/app/assets/iphone/Default@2x.png" width="640" height="960"/>
        <splash src="res/app/assets/iphone/Default-Landscape.png" width="1024" height="768"/>
        <splash src="res/app/assets/iphone/Default-Landscape@2x.png" width="2048" height="1536"/>
        <splash src="res/app/assets/iphone/Default-568h@2x.png" width="640" height="1136"/>
        <splash src="res/app/assets/iphone/Default-667h@2x.png" width="750" height="1334"/>
        <splash src="res/app/assets/iphone/Default-736h@3x.png" width="1242" height="2208"/>
        <splash src="res/app/assets/iphone/Default-Landscape-736h@3x.png" width="2208" height="1242"/>

        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/app/assets/iphone/appicon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/app/assets/iphone/appicon-60.png" width="60" height="60" />
        <icon src="res/app/assets/iphone/appicon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/app/assets/iphone/appicon-76.png" width="76" height="76" />
        <icon src="res/app/assets/iphone/appicon-76@2x.png" width="152" height="152" />
        <!-- iPhone / iPod Touch -->
        <icon src="res/app/assets/iphone/appicon.png" width="57" height="57" />
        <icon src="res/app/assets/iphone/appicon@2x.png" width="114" height="114" />
        <!-- iPad -->
        <icon src="res/app/assets/iphone/appicon-72.png" width="72" height="72" />
        <icon src="res/app/assets/iphone/appicon-72@2x.png" width="144" height="144" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/app/assets/iphone/appicon-small.png" width="29" height="29" />
        <icon src="res/app/assets/iphone/appicon-small@2x.png" width="58" height="58" />
    </platform>

</widget>
