<link rel="stylesheet" type="text/css" href="css/dashboard.css" />

<h1>Beacon ranging dashboard</h1>
<h2>Beacon Major: {{beaconId}}</h2>
<h3>RSSI (signal strength)</h3>
<div class='meter' id="rssi">
    <span class="fillBar" style="width: 50%"></span>
    <span class="min scaleLabel">Min</span>
    <span class="value scaleLabel">Value</span>
    <span class="max scaleLabel">Max</span>
</div>

<h3>'Accuracy' (estimated distance)</h3>
<div class="meter" id="accuracy">
    <span class="fillBar" style="width: 20%"></span>
    <span class="min scaleLabel">Min</span>
    <span class="value scaleLabel">Value</span>
    <span class="max scaleLabel">Max</span>

</div>

<a href="/#">Home</a>
