<div class="pr-header">
    <div class="header-arrow arrow-left">{{#if logoLink}}<a href="{{prevLink}}"><img class="flip" src="img/arrow_right.png"></a>{{/if}}</div>
    <div class="header-logo"><a {{#if logoLink}}href="{{logoLink}}"{{/if}}><img src="img/prmlogo2.jpg"></a></div>
    <div class="header-arrow arrow-right">{{#if nextLink}}<a href="{{nextLink}}"><img src="img/arrow_right.png"></a>{{/if}}</div>
</div>