<div class="header">
    <span class="proximity-indicator">Scanning...</span>
    <h1>Sensing Evolution</h1>
</div>
<div class="topic">
    <h2>Fossils as Evidence</h2>
</div>
<div class="search-item">
    Can you find...
    <a href="#" class="dev-control find">[Find it]</a>
    <img src="img/01_Hunt_for_object.jpg">
</div>
<h3 class="name">Megalosaurus</h3>
<div class="hint-container">
    <a href="#" class="show-hint">Need a hint?</a>
    <small>{{iBeaconHint}}</small>
    <p class="hint">Hint text appears here</p>
</div>


<div class="found-item">
    <video width="100%" height="auto" webkit-playsinline controls preload="auto">
      <source src="video/test_video.mp4" type="video/mp4">
      <!--<source src="movie.ogg" type="video/ogg">-->
        Your browser does not support the video tag.
    </video>
    <h3>You found it!</h3>
    <a href="#" class="restart-all">Restart</a>
</div>
