<div class="titles">
	<h3>Sensing Evolution</h3>
	<h4>{{title}}</h4>
</div>

{{#each topics}}
    {{title}}
    <ul>
    {{#each items}}
        <li class="{{#if isCurrent}}current{{/if}}"><a class="nav-link {{#if isCurrent}}current{{/if}} {{#if isAvailable}}found{{/if}}" {{#if isAvailable}}href="#/item/{{slug}}"{{/if}}>{{title}}</a></li>
    {{/each}}
    </ul>
{{/each}}
<a class="dev-control" href="#/dashboard">Beacon Ranging Dashboard</a>

