<div class="header">
    <div class="titles">
        <h1 class="title">Sensing Evolution</h1>
    </div>
</div>
<div class="buttons-container resume-buttons">
    <div class="button center"><a id="resume-trail" href='#resume'>Resume Trail</a></div>
    <div class="button center"><a id="start-new-trail" href='#home'>Start New Trail</a></div>
</div>
