<div class="header">
    <div class="titles">
        <h1 class="title">Sensing Evolution</h1>
        <h2 class="subtitle">How to use the app</h2>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="css/instructions.css"/>
<div class="instructions center-vertically">
    <!--<img src="img/{{trail_icon_image}}">-->
    {{{instructions}}}
    <div class="button instructions-next">
        <a href="{{nextURL}}">GO!</a>
    </div>
</div>