<div class="video-holder">
    <div class="buttons-container center-vertically">
        <div id="replay" class="button center"><a>Replay</a></div>
        <div id="start-trail" class="button center"><a href="{{nextURL}}">Start the trail!</a></div>
    </div>
    <video id="introvideo" class="intro center-vertically" width="100%" height="auto" webkit-playsinline preload="auto" poster="img/{{video_poster}}" >
        <!--<source src="video/{{video}}" type="video/mp4">-->
    </video>
</div>


