<h1>{{name}}</h1>

<video id="intro-video" width="100%" height="auto" webkit-playsinline controls preload="auto" autoplay>
    <source src="video/{{video}}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<a class="start-trail" href="{{nextURL}}">Start the trail!</a>