<div class="header">
    <div class="titles">
        <h1 class="title">Sensing Evolution</h1>
        <h2 class="subtitle">How to use the app</h2>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="css/instructions.css"/>
<div class="instructions">
    <img src="img/{{video_poster}}">
    <div class="instructions-text">
        <p>A video should start automatically when you find the object, but if it doesn't, tap the <img src="img/key.png" class="inline-icon"> icon and enter the four-digit code you can see on the label in the display.</p>
    </div>

</div>
<a class="button" href="{{nextURL}}">
    <div class="button instructions-next">
        GO!
    </div>
</a>
