<div class="header">
    <div class="titles">
        <h1 class="title">Sensing Evolution</h1>
        <h2 class="subtitle">How to use the app</h2>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="css/instructions.css"/>
<div class="instructions">
    <!--<img src="img/{{trail_icon_image}}">-->
    <img src="img/maps/mapBottomRight.png">
    <div class="instructions-text">
        <p>You are hunting for 8 objects on the ground floor of the Museum. The map gives you a clue where to look.</p>
    </div>
    <a class="button" href="#/trail/{{slug}}/instructions/2">
        <div class="button instructions-next">
            Next
        </div>
    </a>
</div>
