<link rel="stylesheet" type="text/css" href="css/instructions.css"/>
<div class="instructions center-vertically">
 <h2>How to use the app</h2>
    <img src="img/{{trail_icon_image}}">
    <p>{{instructions}}</p>
    <div class="button instructions-next">
        <a href="#/trail_video/{{slug}}">View the Video Introduction</a>
    </div>
</div>