<div class="trails-list-container">
    <h1>Select Trail</h1>
    <ul>
    {{#each trails}}
        <a href='#trail/{{slug}}'><li><div class="trails-list-item">{{title}}</div></li></a>

    {{/each}}
  </ul>
    <a href="#/dashboard">Beacon Ranging Dashboard</a>
</div>