<div class="header">
    <div class="titles">
        <h1 class="title">Sensing Evolution</h1>
        <h2 class="subtitle">Select a Trail</h2>
    </div>
</div>
<div class="trails-list-container">
    <ul>
    {{#each trails}}
        <a href='#trail/{{slug}}'><li><div class="trails-list-item">
            <div class='title'>{{title}}<div>
            <div class='subtitle'>{{subtitle}}</div>
        </div></li></a>

    {{/each}}
  </ul>
    <a class="dev-control" href="#/dashboard">Beacon Ranging Dashboard</a>
</div>