<div class="video-holder">
    <div class="buttons-container center-vertically">
        <div id="replay" class="button center"><a>Replay</a></div>
        <div id="start-trail" class="button center"><a href="#/trail/{{slug}}/instructions/1">Start the trail!</a></div>
    </div>
    <video id="introvideo" class="intro" width="100%" height="100%" webkit-playsinline preload="auto" poster="img/{{video_poster}}" >
        <!--<source src="video/{{video}}" type="video/mp4">-->
    </video>
    <div class="controls-container">
        <div id="resume" class="button resume"><a>Resume</a></div>
        <div id="pause" class="button pause"><a>Pause</a></div>
        <div id="stop" class="button stop"><a>Stop</a></div>
    </div>
</div>


