<h1>Select Trail</h1>
<div class="trails-list-container">
  <ul>
    {{#each trails}}
      <li><div class="trails-list-item">
        <a href='#trail/{{slug}}'>{{name}}</a>
      </div></li>
    {{/each}}
  </ul>
</div>

<a href="#/dashboard">Beacon Ranging Dashboard</a>