<div class="item-unlock">
    <div class="item-unlock-code"></div>
    <div class="item-unlock-buttons">
        <div id="button-1" number=1 class="button unlock-code-button">1</div>
        <div id="button-2" number=2 class="button unlock-code-button">2</div>
        <div id="button-3" number=3 class="button unlock-code-button">3</div>
        <div id="button-4" number=4 class="button unlock-code-button">4</div>
    </div>
</div>